input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.simple-keyboard {
    max-width: 850px;
}

.simple-keyboard.dark {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.dark .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.simple-keyboard.dark .hg-button:active,
.simple-keyboard.dark .hg-activeButton {
    background: #1c4995;
    color: white;
}

/* ========================================================================== */

.simple-keyboard .hg-disabled {
    opacity: 0.1;
    pointer-events: none;
}

.simple-keyboard .hg-button-space {
    flex-grow: 12;
}

/* Highlight the home keys */

.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(5),
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(8) {
    position: relative;
}

.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(5) ::after,
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(8) ::after {
    position: absolute;
    /* content: '\00B7'; */
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    left: 40%;
    bottom: 10%;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 50em;
}

#root .simple-keyboard.dark + .simple-keyboard-preview {
    background: #1c4995;
}
