/* input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
} */
/* 
.simple-keyboard {
    max-width: 850px;
} */

.simple-keyboard .hg-button {
    /* box-shadow: none; */
    border: none;
}

.simple-keyboard.dark {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.dark .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.simple-keyboard.dark .hg-button:active,
.simple-keyboard.dark .hg-button.hg-activeButton {
    background: #1c4995;
    color: white;
}

/* ========================================================================== */

.simple-keyboard .hg-button {
    position: relative;
}
.simple-keyboard .hg-button span {
    position: absolute;
}

.simple-keyboard .hg-normal-width {
    flex-grow: 1;
}
.simple-keyboard .hg-button-backspace {
    flex-grow: 2;
}
.simple-keyboard .hg-button-tab {
    flex-grow: 1.5;
}
.simple-keyboard .hg-button-backslash {
    flex-grow: 1.5;
}
.simple-keyboard .hg-button-capslock {
    flex-grow: 1.75;
}
.simple-keyboard .hg-button-enter {
    flex-grow: 2.25;
}
.simple-keyboard .hg-button-shiftleft {
    flex-grow: 2.25;
}
.simple-keyboard .hg-button-shiftright {
    flex-grow: 2.75;
}
.simple-keyboard .hg-button-space {
    flex-grow: 6.25;
}

.simple-keyboard .hg-button:not(.hg-normal-width) {
    font-size: 0.8em;
}
.simple-keyboard .hg-disabled {
    opacity: 0.1;
    pointer-events: none;
}

/* Highlight the home keys */
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(5)::after,
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(8)::after {
    position: absolute;
    /* content: '\00B7'; */
    content: '';
    display: block;
    width: 20%;
    height: 4px;
    left: 40%;
    bottom: 10%;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 50em;
}

.simple-keyboard .hg-button:active,
.simple-keyboard .hg-button.hg-activeButton {
    background: var(--button-highlight);
    color: white;
}

/* ========================================================================== */

/* html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#results {
    overflow-wrap: break-word;
}

#results > * {
    padding: 1em;
}

/* === PAGE STYLING ========================================================= */

:root {
    --keyboard-scale: 1;
    --page-width: 1000px;
    --keyboard-width: 90%;
    --heading: 'Computer Modern Concrete';
    --typewriter: 'Computer Modern Typewriter';
    --sans-serif: 'Open Sans';
    --paper-color: #fffcf8;
    --paper-color: #fff8e8;
    --dvorak-color: darksalmon;
    --qwerty-color: lightskyblue;
    --text-color: #00;
    --text-color-light: #667;
}

html,
body {
    /* font-family: 'IBM Plex Sans', 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: var(--sans-serif);
    margin: 0;
    color: var(--text-color);
}
h1 {
    font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
}
p {
    font-size: 20px;
}
a {
    color: var(--text-color-light);
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
}
a:hover, a:focus {
    color: lightskyblue;
}

#main-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: var(--page-width);
    position: relative;
}

main {
    padding: 2em 0 18em 0;
    margin-left: 2em;
    margin-right: 15em;
    position: relative;
}

section {
    margin: auto;
    margin-bottom: 20em;
}

aside {
    position: absolute;
    left: calc(100% + 2em);
    width: calc(15em - 2em);
}

aside p {
    font-size: 18px;
    color: var(--text-color-light);
}

footer {
    text-align: center;
}

footer p,
footer a {
    color: #ccc;
    font-size: 18px;
    border: none;
}

footer img {
    position: relative;
    height: 1.2em;
    top: 0.3em;
    border: 1.5px solid gainsboro;
    border-radius: 100%;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s;
}
.revealed {
    opacity: 1;
    transition: opacity 0.3s;
}

form #input {
    font-family: var(--sans-serif);
    margin: 4em auto;
    width: 100%;
    border: none;
    font-size: 20px;
    min-height: 4em;
    overflow-wrap: break-word;
    overflow: visible;
    resize: none;
    color: var(--text-color-light);
}

@-webkit-keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

form #input::-webkit-input-placeholder {
    -webkit-animation: blinker 1s linear infinite;
            animation: blinker 1s linear infinite;
}

form #input::-moz-placeholder {
    animation: blinker 1s linear infinite;
}

form #input:-ms-input-placeholder {
    animation: blinker 1s linear infinite;
}

form #input::-ms-input-placeholder {
    animation: blinker 1s linear infinite;
}

form #input::placeholder {
    -webkit-animation: blinker 1s linear infinite;
            animation: blinker 1s linear infinite;
}

main #keyboards {
}

.simple-keyboard {
    width: var(--keyboard-width);
    margin: 0 auto 2em;
    transform: scale(var(--keyboard-scale), var(--keyboard-scale));
}
.qwerty-keyboard {
    --button-highlight: var(--qwerty-color);
}
.dvorak-keyboard {
    --button-highlight: var(--dvorak-color);
}

div#keyboards {
    position: relative;
}

div#keyboards [id$='-written'] {
    font-family: var(--typewriter);
    margin: auto;
    height: 3.5em;
    padding: 1em 2em;
    width: calc(var(--keyboard-width) - 2 * 2em - 1em);
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--paper-color);
    position: relative;
}

div#keyboards [id$='-written'] p {
    margin: 0;
}

div#keyboards [id$='-written']::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* background: blue; */
    /* background: linear-gradient(top, rgba(0,0,0,0) 0%, var(--paper-color) 100%); */
    background-image: -moz-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0) 60%,
        var(--paper-color) 100%
    );
}

#passage {
    font-family: var(--typewriter);
    font-size: 24px;
    color: #ccc;
    line-height: 1;
    letter-spacing: -1px;
    height: 30em;
}

#conclusion .highlight {
    color: darksalmon;
    box-shadow: inset 0 -2px 0 0 darksalmon;
    background-color: rgba(233, 150, 122, 0.2);
    /* font-size: 1.2em; */
    line-height: 0;
}

#conclusion aside p {
    position: relative;
    top: -20em;
}

#conclusion #legend p {
    text-align: center;
}

