/* === KEYBOARD STYLING ===================================================== */

.simple-keyboard .hg-button {
    /* box-shadow: none; */
    border: none;
}

.simple-keyboard .hg-button {
    position: relative;
}
.simple-keyboard .hg-button span {
    position: absolute;
}

.simple-keyboard .hg-normal-width {
    flex-grow: 1;
}
.simple-keyboard .hg-button-backspace {
    flex-grow: 2;
}
.simple-keyboard .hg-button-tab {
    flex-grow: 1.5;
}
.simple-keyboard .hg-button-backslash {
    flex-grow: 1.5;
}
.simple-keyboard .hg-button-capslock {
    flex-grow: 1.75;
}
.simple-keyboard .hg-button-enter {
    flex-grow: 2.25;
}
.simple-keyboard .hg-button-shiftleft {
    flex-grow: 2.25;
}
.simple-keyboard .hg-button-shiftright {
    flex-grow: 2.75;
}
.simple-keyboard .hg-button-space {
    flex-grow: 6.25;
}

.simple-keyboard .hg-button:not(.hg-normal-width) {
    font-size: 0.8em;
}
.simple-keyboard .hg-disabled {
    opacity: 0.1;
    pointer-events: none;
}

/* Highlight the home keys */
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(5)::before,
.simple-keyboard .hg-row:nth-of-type(3) .hg-button:nth-of-type(8)::before {
    position: absolute;
    content: '';
    display: block;
    width: 20%;
    height: 4px;
    left: 40%;
    bottom: 10%;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 50em;
}

.simple-keyboard .hg-button:active,
.simple-keyboard .hg-button.hg-activeButton {
    background: var(--button-highlight);
    color: white;
}

/* === PAGE STYLING ========================================================= */

:root {
    --keyboard-scale: 1;
    --page-width: 1000px;
    --keyboard-width: 90%;
    --display: 'Computer Modern Concrete', Georgia, 'Times New Roman', serif;
    --typewriter: 'Computer Modern Typewriter', Courier, monospace;
    --monospace: Consolas, Menlo, monospace;
    --sans-serif: 'Open Sans', 'Segoe UI', Verdana, Helvetica, sans-serif;
    --paper-color: #fffcf8;
    --paper-color: #fff8e8;
    --dvorak-color: darksalmon;
    --qwerty-color: lightskyblue;
    --text-color: #112;
    --text-color-light: #667;
    --gray: #ccc;
}

html,
body {
    font-family: var(--sans-serif);
    margin: 0;
    color: var(--text-color);
}
h1 {
    font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--display);
}
p {
    font-size: 20px;
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
}
a:hover,
a:focus {
    color: lightskyblue;
}

#main-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: var(--page-width);
    /* position: relative; */
}

main {
    padding: 2em 0;
    margin-left: 2em;
    margin-right: 15em;
    position: relative;
}

section {
    margin: auto;
    position: relative;
}

article {
    margin: 8em 0;
}

aside {
    position: absolute;
    left: calc(100% + 2em);
    width: calc(15em - 2em);
}

aside p {
    font-size: 18px;
    color: var(--text-color-light);
    margin-top: 0;
}

aside p.note {
    font-size: 14px;
}

aside.after {
    transform: translateY(-100%);
}

[id^='fnref'] a {
    /* padding: 0 3px; */
    border: none;
}

figure {
    height: 400px;
    width: 100%;
    margin: auto;
    /* box-shadow: inset 0 0 0 1px gainsboro; */
    position: relative;
}

figure::before {
    content: 'There will be a chart here once you enter some text to visualize!';
    font-size: 16px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--text-color-light);
    color: var(--gray);
}

footer {
    margin-top: 10em;
    text-align: center;
}

footer p,
footer a {
    color: var(--gray);
    font-size: 14px;
    border: none;
}

footer img {
    position: relative;
    height: 1.2em;
    top: 0.3em;
    border: 1.5px solid gainsboro;
    border-radius: 100%;
}

code {
    font-family: var(--monospace);
}

.hidden,
[class$="hidden"] {
    opacity: 0;
    transition: opacity 0.3s;
}
.revealed {
    opacity: 1;
    transition: opacity 0.3s;
}

.keyboard-container {
    transform: scale(var(--keyboard-scale), var(--keyboard-scale));
}

.simple-keyboard {
    width: var(--keyboard-width);
    margin: 0 auto 2em;
}
.qwerty-keyboard {
    --button-highlight: var(--qwerty-color);
}
.dvorak-keyboard {
    --button-highlight: var(--dvorak-color);
}

#keyboards [id$='-written'] {
    font-family: var(--typewriter);
    margin: auto;
    height: 3.5em;
    padding: 1em 2em;
    width: calc(var(--keyboard-width) - 2 * 2em - 2em);
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--paper-color);
    position: relative;
}

#keyboards [id$='-written'] p {
    margin: 0;
    word-wrap: break-word;
}

/* A gradient to fade out the text at the top of the parchment */
#keyboards [id$='-written']::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: -moz-linear-gradient(
        bottom,
        rgba(0, 0, 0, 0) 60%,
        var(--paper-color) 100%
    );
}

#keyboards aside {
    transform: translateY(-240px);
}

#travel-distance .tooltip-characters {
    white-space: pre;
    font-family: var(--typewriter);
    color: var(--text-color-light);
}

#passage {
    margin: 1.5em;
    font-family: var(--typewriter);
    font-size: 24px;
    color: #bbb;
    line-height: 1;
    letter-spacing: -1px;
    position: relative;
}

#passage #passage-written {
    position: absolute;
}

#passage #passage-invisible {
    visibility: hidden;
}

#passage::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1.5em;
    height: 100%;
    width: 4px;
    display: block;
    background-color: #bbb8;
}

#passage .highlight-dvorak {
    position: relative;
}

#passage .highlight-dvorak:hover::after {
    content: '< 0.1%';
    position: absolute;
    top: 1.2em;
    width: 5em;
    left: -2.5em;
    text-align: center;
}

#passage-proportion aside {
    transform: translateY(calc(-100% - 1em));
}

/* LANDING */
#landing {
    display: grid;
    height: 100vh;
    grid-template-rows: min-content 1fr;
}
hgroup#title {
    font-size: 1.2em;
}
h1 {
    font-size: 2em;
}

@keyframes slideIn {
    0% {
        top: 2em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

form {
    position: relative;
    top: 0;
    max-width: var(--page-width);
    width: 100%;
    margin: auto;
    align-self: center;
    height: 50%;
    animation: slideIn 0.5s ease-in-out;
}
form #input {
    font-family: var(--sans-serif);
    width: 100%;
    border: none;
    font-size: 20px;
    height: 100%;
    overflow-wrap: break-word;
    overflow: visible;
    resize: none;
    color: var(--text-color-light);
}

.highlight-qwerty {
    color: var(--qwerty-color);
    color: cornflowerblue; /* The lightskyblue was too light at small scale */
    color: rgb(114, 159, 241);
    /* box-shadow: inset 0 -0.1em 0 0 var(--qwerty-color); */
    background-color: #87cefa22;
}
.highlight-dvorak {
    /* color: var(--dvorak-color); */
    color: salmon;
    color: rgb(221, 131, 96);
    /* color: tomato; */
    /* color: lightcoral; */
    /* box-shadow: inset 0 -0.1em 0 0 var(--dvorak-color); */
    background-color: #E9967A22;
}


/* === NARROW STYLING ======================================================= */

@media (max-width: 650px) {

    main {
        margin: 0.5em;
    }
    
    aside {
        position: static;
        width: unset;
        margin-bottom: 2em;
        border: 4px double gainsboro;
        border-style: double none;
        padding-top: 0.5em;
    }

    aside.after {
        transform: none !important;
    }

    #landing aside {
        float: right;
        border: none;
    }

    .keyboard-container,
    .keyboard-container p {
        font-size: 2vh;
    }
    
    .simple-keyboard .hg-button {
        font-size: 1.5vh;
        height: 4vh;
    }

    #keyboards aside {
        transform: none;
    }
}


/* === HEATMAP ============================================================== */

.simple-keyboard .hg-button {
    --heat: 0;
}

.simple-keyboard .hg-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(circle at center, mediumvioletred 0, #fff0 70%);
    opacity: var(--heat);
    border-radius: 50em;
}
